/node_modules
/coverage
/logs
/.pm2
/.svelte-kit
/build
config/config.cjs
config/config.js
config/config.ts
.env
.env.development
.env.production
.env.staging
*.swp
*.swo
#sorry
.vscode
npm*
*.nvimlog
