/*
 * Some holdover very basic defaults from the original Tabroom site are found
 * in the tailwind base class found in /src/app.css; here are just specific
 * overrides.
 */

	a.bigger {
		color           : var(--1000-blue);
		display         : inline-block;
		font-size       : 16px;
		padding-left    : 4px;
		padding-right   : 4px;
		padding-top     : 8px;
		padding-bottom  : 8px;
		font-weight     : 600;
		text-decoration : underline dotted var(--500-orange);
	}

	a.bigger:hover {
		color: var(--500-orange);
		text-decoration : underline dotted var(--500-blue);
	}

	a.centeralign {
		text-align : center;
	}

	.ag-header-row {
		--ag-cell-horizontal-padding : 4px;
	}

	.ag-header {
		border-bottom                : 1px solid var(--400-yellow);
		border-top                   : 2px solid var(--800-blue);
		border-left                  : 1px solid var(--800-blue);
		border-right                 : 1px solid var(--800-blue);
		border-top-left-radius       : 6px;
		border-top-right-radius      : 6px;
	}

	.ag-paging-panel {
		border-bottom              : 2px solid var(--800-blue);
		border-left                : 1px solid var(--800-blue);
		border-right               : 1px solid var(--800-blue);
		border-bottom-left-radius  : 6px;
		border-bottom-right-radius : 6px;
	}

	.ag-viewport {
		border-left   : 1px solid var(--900-blue);
		border-right  : 1px solid var(--900-blue);
	}

	.ag-root-wrapper {
		border        : 0;
		border-radius : 0;
	}

	.ag-row {
		border        : none;
		border-bottom : 1px solid var(--500-gray);
	}

	.ag-row-odd:hover {
		background-color : var(--100-yellow);
	}

	.ag-row-odd {
		background-color : var(--200-gray);
	}

	input[type='text'].ag-input-field-input {
		padding-left: calc(var(--ag-spacing)*1.5 + 12px);
	}

	.ag-header-row:after,
	.ag-header-row:before {
		border: none;
	}

	.ag-cell {
		display     : flex;
		align-items : center;
	}

	.ag-cell-wrapper {
		flex-grow : 1;
	}

	.ag-center-cols-container {
		min-width: 100%;
	}

	.ag-ltr .ag-cell:not(.ag-cell-inline-editing),
	.ag-ltr .ag-full-width-row .ag-cell-wrapper.ag-row-group {
		padding-left  : 4px;
		padding-right : 4px;
	}

	.ag-header-icon {
		margin-right : 4px;
		color         : #005472;
	}

	.ag-sort-indicator-icon {
		padding-top : 3px;
	}

	.ag-header-row .ag-icon {
		height: 14px;
	}

	.ag-icon-filter:before,
	.ag-icon-desc:before,
	.ag-icon-asc:before {
		height : 12px;
		width  : 12px;
	}

	.ag-header-cell {
		border-right: 1px solid var(--300-yellow);
	}

	.ag-header-cell-label {
		padding-top    : 2px;
		padding-bottom : 2px;
		padding-left   : 4px;
	}

	.ag-header-cell-text {
		font-weight    : 600;
		color          : black;
	}


/* Color Defaults translated to CSS */
:root {
	--background-white: #fefefe;

	--25-blue  : #f8fdff;
	--50-blue  : #d9f2fc;
	--100-blue : #cceefa;
	--200-blue : #bfeaf9;
	--300-blue : #99ddf6;
	--400-blue : #4dc4ef;
	--500-blue : #00abe8;
	--600-blue : #009ad1;
	--700-blue : #0080ae;
	--800-blue : #00678b;
	--900-blue : #005472;
	--1000-blue : #013649;

	--25-yellow  : #fffaee;
	--50-yellow  : #fff7e1;
	--100-yellow : #fff4d7;
	--200-yellow : #fff2cd;
	--300-yellow : #ffe9af;
	--400-yellow : #fed973;
	--500-yellow : #fec937;
	--600-yellow : #e5b532;
	--700-yellow : #bf9729;
	--800-yellow : #987921;
	--900-yellow : #7c621b;

	--50-purple : #edddee;
	--100-purple : #e7d1e8;
	--200-purple : #e1c6e2;
	--300-purple : #cea3d1;
	--400-purple : #aa5eaf;
	--500-purple : #85198C;
	--600-purple : #78177e;
	--700-purple : #641369;
	--800-purple : #500f54;
	--900-purple : #410c45;

	--50-green : #e4eed9;
	--100-green : #dbe8cc;
	--200-green : #d2e3bf;
	--300-green : #b7d199;
	--400-green : #82af4d;
	--500-green : #4C8D00;
	--600-green : #447f00;
	--700-green : #396a00;
	--800-green : #2e5500;
	--900-green : #254500;

	--50-orange: #f9e7db;
	--100-orange: #f8dfcf;
	--200-orange: #f6d8c3;
	--300-orange: #f0c09f;
	--400-orange: #e59058;
	--500-orange: #da6110;
	--600-orange: #c4570e;
	--700-orange: #a4490c;
	--800-orange: #833a0a;
	--900-orange: #6b3008;

	--50-red  : #f6d9d9;
	--100-red : #f3cccc;
	--200-red : #f0bfbf;
	--300-red : #e79999;
	--400-red : #d44d4d;
	--500-red : #c20000;
	--600-red : #af0000;
	--700-red : #920000;
	--800-red : #740000;
	--900-red : #5f0000;

	--50-gray  : #fefefe;
	--100-gray : #fefefe;
	--150-gray : #fafafa;
	--200-gray : #f3f3f3;
	--300-gray : #ededed;
	--400-gray : #e5e5e5;
	--500-gray : #dadada;
	--600-gray : #cccccc;
	--700-gray : #bcbcbc;
	--800-gray : #969696;
	--900-gray : #7b7b7b;

	--medium-yellow    : #FFD267;
	--dark-yellow      : #FFB400;
}

