export default {
	
	WEB_URL: import.meta.env.VITE_WEB_URL || 'localhost',
	LEGACY_URL: import.meta.env.VITE_LEGACY_URL || 'https://mason.dev.tabroom.com',
	S3_BASE: import.meta.env.VITE_S3_BASE || 'https://s3.amazonaws.com/tabroom-files',
	
	PORT: parseInt(import.meta.env.VITE_PORT || '9000', 10),
	CLIENT_PORT: parseInt(import.meta.env.VITE_CLIENT_PORT || '9000', 10),
	PREVIEW_PORT: parseInt(import.meta.env.VITE_PREVIEW_PORT || '9003', 10),
	
	indexcards: {
		basePath: import.meta.env.VITE_API_URL || 'http://localhost:8001/v1',
		authCookieName: 'Tabroom_Cookie',
		csrfCookieName: 'CSRF_Token',
	}
};