@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/container-queries';

@source '../node_modules/flowbite-svelte-icons/**/*.{html,js,svelte,ts}';
@source '../node_modules/svelte-animated-icons/**/*.{html,js,svelte,ts}';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  --font-sans:
    open_sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: Inconsolata;

  --color-primary-50: #d9f2fc;
  --color-primary-100: #cceefa;
  --color-primary-200: #bfeaf9;
  --color-primary-300: #99ddf6;
  --color-primary-400: #4dc4ef;
  --color-primary-500: #00abe8;
  --color-primary-600: #009ad1;
  --color-primary-700: #0080ae;
  --color-primary-800: #00678b;
  --color-primary-900: #005472;
  --color-primary-1000: #013649;
  --color-primary: #00abe8;

  --color-secondary-25: #fffaee;
  --color-secondary-50: #fff7e1;
  --color-secondary-100: #fff4d7;
  --color-secondary-200: #fff2cd;
  --color-secondary-300: #ffe9af;
  --color-secondary-400: #fed973;
  --color-secondary-500: #fec937;
  --color-secondary-600: #e5b532;
  --color-secondary-700: #bf9729;
  --color-secondary-800: #987921;
  --color-secondary-900: #7c621b;
  --color-secondary: #fec937;

  --color-tertiary-50: #edddee;
  --color-tertiary-100: #e7d1e8;
  --color-tertiary-200: #e1c6e2;
  --color-tertiary-300: #cea3d1;
  --color-tertiary-400: #aa5eaf;
  --color-tertiary-500: #85198c;
  --color-tertiary-600: #78177e;
  --color-tertiary-700: #641369;
  --color-tertiary-800: #500f54;
  --color-tertiary-900: #410c45;

  --color-success-50: #e4eed9;
  --color-success-100: #dbe8cc;
  --color-success-200: #d2e3bf;
  --color-success-300: #b7d199;
  --color-success-400: #82af4d;
  --color-success-500: #4c8d00;
  --color-success-600: #447f00;
  --color-success-700: #396a00;
  --color-success-800: #2e5500;
  --color-success-900: #254500;

  --color-warning-50: #f9e7db;
  --color-warning-100: #f8dfcf;
  --color-warning-200: #f6d8c3;
  --color-warning-300: #f0c09f;
  --color-warning-400: #e59058;
  --color-warning-500: #da6110;
  --color-warning-600: #c4570e;
  --color-warning-700: #a4490c;
  --color-warning-800: #833a0a;
  --color-warning-900: #6b3008;

  --color-error-50: #f6d9d9;
  --color-error-100: #f3cccc;
  --color-error-200: #f0bfbf;
  --color-error-300: #e79999;
  --color-error-400: #d44d4d;
  --color-error-500: #c20000;
  --color-error-600: #af0000;
  --color-error-700: #920000;
  --color-error-800: #740000;
  --color-error-900: #5f0000;

  --color-surface-50: #fefefe;
  --color-surface-100: #fefefe;
  --color-surface-200: #fefefe;
  --color-surface-300: #fdfdfd;
  --color-surface-400: #fcfcfc;
  --color-surface-500: #fafafa;
  --color-surface-600: #e1e1e1;
  --color-surface-700: #bcbcbc;
  --color-surface-800: #969696;
  --color-surface-900: #7b7b7b;

  --color-back-100: #e5ebed;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/*
 * Many of these exist here to format inline limited html generated by base
 * users.
 */

@layer base {

	p {
		font-size      : 14px;
		padding-left   : 4px;
		padding-right  : 4px;
		padding-bottom : 8px;
	}

	textarea,
	input.text,
	input.password,
	input.form-text,
	input.form-email,
	input.email,
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="email"],
	input[type="password"],
	input[type="file"],
	input[type="number"] {
		color       : var(--dark-gray);
		font-family : 'Inconsolata';
	}

	h1, h2, h3 {
		margin-top    : .16rem;
		margin-bottom : .08rem;
		padding       : 0;
		margin-left   : 0;
		margin-right  : 0;
	}

	h4, h5, h6 {
		margin-top    : .32rem;
		margin-bottom : .32rem;
		padding       : 0;
		margin-left   : 0;
		margin-right  : 0;
	}

	h1 {
		font-family    : PTSans-Narrow-Bold;
		font-size      : 3.75rem;
		text-transform : uppercase;
	}

	h2 {
		font-family    : PTSans-Narrow;
		font-size      : 3rem;
		letter-spacing : 1px;
		text-transform : uppercase;
	}

	h3 {
		font-family    : PTSans-Narrow-Bold;
		font-size      : 2.25rem;
		letter-spacing : 1px;
		text-transform : uppercase;
	}

	h4 {
		font-family    : PTSans-Narrow-Bold;
		font-size      : 1.875rem;
	}

	h5 {
		font-family    : PTSans-Narrow-Bold;
		letter-spacing : .7px;
		font-size      : 1.25rem;
	}

	h6 {
		font-family    : PTSans-Narrow;
		font-size      : 1.25rem;
		letter-spacing : .5px;
	}

	strong {
		font-weight : 600;
		color: var(--1000-blue);
	}

	.menu {

		a {
			display       : inline-block;
			padding       : 6px;
			padding-left  : 8px;
			padding-right : 8px;
			margin-bottom : 4px;
			font-size     : 11px;
		}

		a.full {
			width         : 100%;
		}

		a.half {
			width         : 49%;
		}

		.blue {
			background-color : #d9f2fc;
		}

		.blue:hover {
			background-color : #bfeaf9;
		}

		.yellow {
			background-color : #fff4d7;
		}

		.yellow:hover {
			background-color : #ffe9af;
		}

		p {
			font-size     : 12px;
			margin-bottom : 8px;
		}

		.sidenote {
			display             : block;
			width               : 98%;
			font-size           : 12px;
			min-height          : 32px;
			margin              : auto;
			margin-top          : 16px;
			margin-bottom       : 4px;
			padding             : 8px;
			background-color    : var(--background-white);
			background-position : right top;
			background-repeat   : no-repeat;
			border-width        : 1px;
			border-style        : solid;
			border-color        : var(--secondary-800);
			border-radius       : 8px;
		}

		h1 {
			font-size      : 2.75rem;
		}

		h2 {
			font-size      : 2rem;
		}

		h3 {
			font-size      : 1.875rem;
		}

		h4 {
			font-size      : 1.5rem;
		}

		h5 {
			font-size      : 1.5rem;
		}

		h6 {
			font-size      : 1.25rem;
		}

	}

}
