
@import 'tailwindcss';

@plugin 'flowbite/plugin';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/container-queries';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-*: initial;
	--font-sans:
		open_sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-mono: Inconsolata;

/* Tabroom Blue: #00abe8; */
	--color-primary: oklch(0.624 0.129 233.1);
	--color-primary-1000: oklch(0.297 0.061 233.1);
	--color-primary-900: oklch(0.363 0.075 233.1);
	--color-primary-800: oklch(0.428 0.089 233.1);
	--color-primary-700: oklch(0.493 0.102 233.1);
	--color-primary-600: oklch(0.558 0.115 233.1);
	--color-primary-500: oklch(0.624 0.129 233.1);
	--color-primary-400: oklch(0.689 0.142 233.1);
	--color-primary-300: oklch(0.754 0.151 233.1);
	--color-primary-200: oklch(0.819 0.109 233.1);
	--color-primary-100: oklch(0.885 0.068 233.1);
	--color-primary-50: oklch(0.950 0.029 233.1);

/* Tabroom Yellow: #fec937; */
	--color-secondary: oklch(0.861 0.160 87.2); /* 400 */
	--color-secondary-900: oklch(0.638 0.128 87.2);
	--color-secondary-800: oklch(0.683 0.136 87.2);
	--color-secondary-700: oklch(0.727 0.145 87.2);
	--color-secondary-600: oklch(0.772 0.154 87.2);
	--color-secondary-500: oklch(0.816 0.163 87.2);
	--color-secondary-400: oklch(0.861 0.160 87.2);
	--color-secondary-300: oklch(0.905 0.107 87.2);
	--color-secondary-200: oklch(0.950 0.056 87.2);
	--color-secondary-100: oklch(0.986 0.017 87.2);

/* Infrequently Used Purple™: #85198C */
	--color-tertiary: oklch(0.449 0.190 325.3); /* 500 */
	--color-tertiary-900: oklch(0.050 0.021 325.3);
	--color-tertiary-800: oklch(0.150 0.063 325.3);
	--color-tertiary-700: oklch(0.250 0.105 325.3);
	--color-tertiary-600: oklch(0.349 0.148 325.3);
	--color-tertiary-500: oklch(0.449 0.190 325.3);
	--color-tertiary-400: oklch(0.549 0.232 325.3);
	--color-tertiary-300: oklch(0.649 0.274 325.3);
	--color-tertiary-200: oklch(0.749 0.220 325.3);
	--color-tertiary-100: oklch(0.848 0.126 325.3);

/* Success Green: #4c8d00 */
	--color-success: oklch(0.563 0.162 134.1);
	--color-success-900: oklch(0.177 0.051 134.1);
	--color-success-800: oklch(0.274 0.079 134.1);
	--color-success-700: oklch(0.370 0.106 134.1);
	--color-success-600: oklch(0.467 0.134 134.1);
	--color-success-500: oklch(0.563 0.162 134.1);
	--color-success-400: oklch(0.660 0.190 134.1);
	--color-success-300: oklch(0.757 0.218 134.1);
	--color-success-200: oklch(0.853 0.245 134.1);
	--color-success-100: oklch(0.950 0.107 134.1);

/* Warning Orange:  #e83d00 */
	--color-warning: oklch(0.582 0.203 35.2);
	--color-warning-900: oklch(0.214 0.075 35.2);
	--color-warning-800: oklch(0.306 0.107 35.2);
	--color-warning-700: oklch(0.398 0.139 35.2);
	--color-warning-600: oklch(0.490 0.171 35.2);
	--color-warning-500: oklch(0.582 0.203 35.2);
	--color-warning-400: oklch(0.674 0.217 35.2);
	--color-warning-300: oklch(0.766 0.141 35.2);
	--color-warning-200: oklch(0.858 0.078 35.2);
	--color-warning-100: oklch(0.950 0.025 35.2);

/* OMG Red #e8003d */
	--color-error: oklch(0.570 0.229 19.9);
	--color-error-900: oklch(0.189 0.076 19.9);
	--color-error-800: oklch(0.284 0.114 19.9);
	--color-error-700: oklch(0.379 0.152 19.9);
	--color-error-600: oklch(0.474 0.190 19.9);
	--color-error-500: oklch(0.570 0.229 19.9);
	--color-error-400: oklch(0.665 0.223 19.9);
	--color-error-300: oklch(0.760 0.144 19.9);
	--color-error-200: oklch(0.855 0.079 19.9);
	--color-error-100: oklch(0.950 0.025 19.9);

/* Bland Neutral Grays */
	--color-surface: oklch(0.994 0.000 0.0);
	--color-surface-100 : oklch(0.997 0.000 0.0);
	--color-surface-200 : oklch(0.994 0.000 0.0);
	--color-surface-300 : oklch(0.991 0.000 0.0);
	--color-surface-400 : oklch(0.988 0.000 0.0);
	--color-surface-500 : oklch(0.985 0.000 0.0);
	--color-surface-600 : oklch(0.910 0.000 0.0);
	--color-surface-700 : oklch(0.795 0.000 0.0);
	--color-surface-800 : oklch(0.673 0.000 0.0);
	--color-surface-900 : oklch(0.583 0.000 0.0);

/* Bluish Grayish Things #e5ebed */
	--color-back     : oklch(1 0.002 219.6);
	--color-back-900 : oklch(0.536 0.015 219.6);
	--color-back-800 : oklch(0.588 0.016 219.6);
	--color-back-700 : oklch(0.640 0.018 219.6);
	--color-back-600 : oklch(0.691 0.019 219.6);
	--color-back-500 : oklch(0.743 0.021 219.6);
	--color-back-400 : oklch(0.795 0.022 219.6);
	--color-back-300 : oklch(0.847 0.017 219.6);
	--color-back-200 : oklch(0.898 0.011 219.6);
	--color-back-100 : oklch(0.970 0.008 219.6);
	--color-back-50  : oklch(0.985 0.008 219.6);
	--ag-odd-row-background-color: oklch(0.898 0.011 219.6);
}

@source '../node_modules/flowbite-svelte/dist';
@source '../node_modules/flowbite-svelte-icons/dist';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.

*/

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/*
 * Many of these exist here to format inline limited html generated by base
 * users.
 */

@layer base {

	div {
		display: block;
	}

	p {
		font-size      : 14px;
		padding-left   : 4px;
		padding-right  : 4px;
		padding-bottom : 8px;
	}

	textarea,
	input.text,
	input.password,
	input.form-text,
	input.form-email,
	input.email,
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="email"],
	input[type="password"],
	input[type="file"],
	input[type="number"] {
		color       : var(--dark-gray);
		font-family : 'Inconsolata';
	}

	h1, h2, h3 {
		margin-top    : .16rem;
		margin-bottom : .08rem;
		padding       : 0;
		margin-left   : 0;
		margin-right  : 0;
	}

	h4, h5, h6 {
		margin-top    : .32rem;
		margin-bottom : .32rem;
		padding       : 0;
		margin-left   : 0;
		margin-right  : 0;
	}

	h1 {
		font-family    : PTSans-Narrow-Bold;
		font-size      : 3.75rem;
		text-transform : uppercase;
	}

	h2 {
		font-family    : PTSans-Narrow;
		font-size      : 3rem;
		letter-spacing : 1px;
		text-transform : uppercase;
	}

	h3 {
		font-family    : PTSans-Narrow-Bold;
		font-size      : 2.25rem;
		letter-spacing : 1px;
		text-transform : uppercase;
	}

	h4 {
		font-family    : PTSans-Narrow-Bold;
		font-size      : 1.875rem;
	}

	h5 {
		font-family    : PTSans-Narrow-Bold;
		letter-spacing : .7px;
		font-size      : 1.25rem;
	}

	h6 {
		font-family    : PTSans-Narrow;
		font-size      : 1.25rem;
		letter-spacing : .5px;
	}

	strong {
		font-weight : 600;
		color: var(--1000-blue);
	}

	/* Necessary for the resizer and to carry down the rounded edge */

	.sidebar {
		border-top-right-radius: .75rem;
	}

	.menu {

		a {
			display       : inline-block;
			padding       : 6px;
			padding-left  : 8px;
			padding-right : 8px;
			margin-bottom : 4px;
			font-size     : 11px;
		}

		a.full {
			width         : 100%;
		}

		a.half {
			width         : 49%;
		}

		.blue {
			background-color : #d9f2fc;
		}

		.blue:hover {
			background-color : #bfeaf9;
		}

		.yellow {
			background-color : #fff4d7;
		}

		.yellow:hover {
			background-color : #ffe9af;
		}

		p {
			font-size     : 12px;
			margin-bottom : 8px;
		}

		.sidenote {
			display                 : block;
			width                   : 98%;
			font-size               : 12px;
			min-height              : 32px;
			margin-left             : 4px;
			margin-bottom           : 8px;
			padding                 : 8px;
			padding-left            : 12px;
			background-color        : var(--color-back);
			background-position     : right top;
			background-repeat       : no-repeat;
			border-width            : 1px;
			border-style            : solid;
			border-color            : var(--color-back-400);
			border-top-right-radius : .25rem;
			border-top-left-radius  : .25rem;
			border-top-color        : var(--color-back-800);
			border-top-width        : 1px;
			border-right-color      : var(--color-back-800);
			border-right-width      : 1px;
		}

		h1 {
			font-size      : 2.75rem;
		}

		h2 {
			font-size      : 2rem;
		}

		h3 {
			font-size      : 1.875rem;
		}

		h4 {
			font-size      : 1.5rem;
		}

		h5 {
			font-size      : 1.5rem;
		}

		h6 {
			font-size      : 1.25rem;
		}
	}

	/* Fix for Firefox */
	.text-pretty {
		text-wrap: stable;
		text-wrap: pretty;
	}

	a.bigger {
		color           : var(--1000-blue);
		display         : inline-block;
		font-size       : 16px;
		padding-left    : 4px;
		padding-right   : 4px;
		padding-top     : 8px;
		padding-bottom  : 8px;
		font-weight     : 600;
		text-decoration : underline dotted var(--500-orange);
	}

	a.bigger:hover {
		color: var(--500-orange);
		text-decoration : underline dotted var(--500-blue);
	}

	a.centeralign {
		text-align : center;
	}

	/* Some repetitive elements even I got sick of tailwinding */

	div.main {
		min-height              : 64dvh;
		width                   : 75%;
		flex-grow               : 1;
		background-color        : var(--color-back);
		padding-top             : 24px;
		padding-block-end       : 24px;
		padding-block-start     : 24px;
		padding-bottom          : 24px;
		padding-inline-end      : 32px;
		padding-inline-start    : 32px;
		padding-left            : 32px;
		padding-right           : 32px;
		padding-top             : 24px;
		border-top-left-radius  : 4px;
		border-top-right-radius : 4px;
	}

	@media (prefers-color-scheme: dark) {
		div.main {
			background-color : var(--color-back-800);
			color            : var(--color-back);
		}
	}

	/* AG Grid stuff. This is probably better limited to the Table module
	 * someday someday. */

	.ag-cell-wrapper {
		width       : 100%;
		min-height  : 100%;
		line-height : 1rem;
	}

	.ag-root-wrapper {
		background-color: var(--color-back-200);
	}

	.ag-row-odd {
		background-color: var(--color-neutral-50);
	}

	.ag-header {
		border-bottom : 1px solid var(--400-yellow);
		border-top    : 2px solid var(--800-blue);
		border-left   : 1px solid var(--800-blue);
		border-right  : 1px solid var(--800-blue);
	}

	:where(.ag-ltr) :where(.ag-select) {
		.ag-picker-field-wrapper {
			padding-left: 4px !important;
		}
	}

	.ag-header-row {
		--ag-cell-horizontal-padding : 4px;
	}

	.ag-header-row:after,
	.ag-header-row:before {
		border: none;
	}

	.ag-header-row .ag-icon {
		height: 14px;
	}

	.ag-header-icon {
		margin-right : 4px;
		color         : #005472;
	}

	.ag-header-cell {
		border-right: 1px solid var(--300-yellow);
	}

	.ag-header-cell-label {
		padding-top    : 2px;
		padding-bottom : 2px;
		padding-left   : 4px;
	}

	.ag-header-cell-text {
		font-weight    : 600;
		color          : black;
	}

	.ag-paging-panel {
		border-bottom              : 2px solid var(--800-blue);
		border-left                : 1px solid var(--800-blue);
		border-right               : 1px solid var(--800-blue);
	}

	.ag-viewport {
		border-left   : 1px solid var(--900-blue);
		border-right  : 1px solid var(--900-blue);
	}

	.ag-row {
		border        : none;
		border-bottom : 1px solid var(--500-gray);
	}

	.ag-row-odd:hover {
		background-color : var(--100-yellow);
	}

	.ag-row-odd {
		background-color : var(--200-gray);
	}

	input[type='text'].ag-input-field-input {
		padding-left: calc(var(--ag-spacing)*1.5 + 12px);
	}


	.ag-cell {
		display     : flex;
		align-items : center;
	}

	.ag-center-cols-container {
		min-width: 100%;
	}

	.ag-ltr .ag-cell:not(.ag-cell-inline-editing),
	.ag-ltr .ag-full-width-row .ag-cell-wrapper.ag-row-group {
		padding-left  : 4px;
		padding-right : 4px;
	}

	.ag-sort-indicator-icon {
		padding-top : 3px;
	}

	.ag-icon-filter:before,
	.ag-icon-desc:before,
	.ag-icon-asc:before {
		height : 12px;
		width  : 12px;
	}

	/* Color Defaults translated to CSS */
	:root {
		--background-white: #fefefe;

		--25-blue  : #f8fdff;
		--50-blue  : #d9f2fc;
		--100-blue : #cceefa;
		--200-blue : #bfeaf9;
		--300-blue : #99ddf6;
		--400-blue : #4dc4ef;
		--500-blue : #00abe8;
		--600-blue : #009ad1;
		--700-blue : #0080ae;
		--800-blue : #00678b;
		--900-blue : #005472;
		--1000-blue : #013649;

		--25-yellow  : #fffaee;
		--50-yellow  : #fff7e1;
		--100-yellow : #fff4d7;
		--200-yellow : #fff2cd;
		--300-yellow : #ffe9af;
		--400-yellow : #fed973;
		--500-yellow : #fec937;
		--600-yellow : #e5b532;
		--700-yellow : #bf9729;
		--800-yellow : #987921;
		--900-yellow : #7c621b;

		--50-purple : #edddee;
		--100-purple : #e7d1e8;
		--200-purple : #e1c6e2;
		--300-purple : #cea3d1;
		--400-purple : #aa5eaf;
		--500-purple : #85198C;
		--600-purple : #78177e;
		--700-purple : #641369;
		--800-purple : #500f54;
		--900-purple : #410c45;

		--50-green : #e4eed9;
		--100-green : #dbe8cc;
		--200-green : #d2e3bf;
		--300-green : #b7d199;
		--400-green : #82af4d;
		--500-green : #4C8D00;
		--600-green : #447f00;
		--700-green : #396a00;
		--800-green : #2e5500;
		--900-green : #254500;

		--50-orange: #f9e7db;
		--100-orange: #f8dfcf;
		--200-orange: #f6d8c3;
		--300-orange: #f0c09f;
		--400-orange: #e59058;
		--500-orange: #da6110;
		--600-orange: #c4570e;
		--700-orange: #a4490c;
		--800-orange: #833a0a;
		--900-orange: #6b3008;

		--50-red  : #f6d9d9;
		--100-red : #f3cccc;
		--200-red : #f0bfbf;
		--300-red : #e79999;
		--400-red : #d44d4d;
		--500-red : #c20000;
		--600-red : #af0000;
		--700-red : #920000;
		--800-red : #740000;
		--900-red : #5f0000;

		--50-gray  : #fefefe;
		--100-gray : #fefefe;
		--150-gray : #fafafa;
		--200-gray : #f3f3f3;
		--300-gray : #ededed;
		--400-gray : #e5e5e5;
		--500-gray : #dadada;
		--600-gray : #cccccc;
		--700-gray : #bcbcbc;
		--800-gray : #969696;
		--900-gray : #7b7b7b;

		--medium-yellow    : #FFD267;
		--dark-yellow      : #FFB400;

		--ag-cell-horizontal-padding: 4;
	}

	/* Some more tolerable defaults for human generated HTML on tournament websites */
	.invitePage {

		table {
			table-layout : fixed;
			word-break   : break-word;
			word-wrap    : break-word;
			width        : 100%;
			border       : 1px solid var(--900-gray);
		}

		table tbody tr,
		table tbody tr td {
			height : auto !important;
			width  : auto !important;
		}

		table tbody tr td {
			padding-left: .25em;
		}

		table tbody tr {
			border-top    : 1px dotted var(--700-gray);
		}

		div.main {
			a {
				display               : inline-block;
				text-decoration       : underline dotted;
				text-decoration-color : var(--color-primary-600);
				color                 : var(--color-primary-700);
				font-weight           : 600;
				padding-left          : 2px;
				padding-right         : 2px;
			}

			a:hover {
				background-color      : var(--color-secondary-200);
				text-decoration-color : var(--color-primary-800);
				color                 : var(--color-primary-1000);
			}
		}
	}
}
