name: Tabroom Schemats Publish

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
    CI: true
    HUSKY: 0
    REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
    REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set Docker Tag by commit
      id: get_version
      run: echo COMMIT_VERSION=$(echo $GITHUB_SHA) >> $GITHUB_ENV

    - name: Publish schemats image to Registry
      uses: elgohr/Publish-Docker-Github-Action@v4
      with:
        name: nsda/schemats
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
        registry: registry.speechanddebate.org
        tags: "${{ env.COMMIT_VERSION }}"
        dockerfile: ./Dockerfile.production

    - name: If image was published change icon
